#full{
    background-image: url('./img/bms.jpeg');
    height:100vh;
    background-size: cover;
    overflow-y: hidden;
}
#BMSTopic{
    font-family: monospace;
    font-weight: 600;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    width: 40rem;
    padding-left: 5rem;
    margin-top: 1rem;
    color: white;
    margin-left: 20rem;
}
#employeeDetail{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
    margin-left: 1rem;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    background: transparent;
    backdrop-filter: blur(20px);
    font-size:1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#AccDetailEnter,#addEmployee{
    border: 2px solid rgb(50, 50, 210);
    width: 100vw;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    position: fixed;
    top: 0rem;
    font-family: monospace;
    background-color: rgb(203, 221, 239);
    background-size: cover;
    color: black;
    font-weight: 600;
    display: none;
    padding-bottom: 2rem;
}
#AccDetailEnter input,#AccDetailEnter select{
    width: 40rem;
}
#AccDetailEnter form{
    margin-left: 15rem;
}
#AccDetailEnter h1{
    margin-left: 20rem;
    margin-bottom: 2rem;
}
#amount,#startDate,#createAccount{
    margin-left: 2rem;
}
#createAccount{
    margin-top: 2rem;
    background-color:rgb(50, 50, 210) ;
    color: white;
}
#createAccount:hover{
    background-color: rgb(20, 20, 109);
}
#closeimg{
    width: 2rem;
    background-color: white;
    float: right;
    position: relative;
    bottom: 2rem;
    cursor: pointer;
}
#closeimg:hover{
    background-color: red;
}
#employeeAdd{
    display: none;
}

#createBtn,#loan2,#createOrganizeBtn,#employeeAdd,#loanManage{
    height: 4rem;
    margin-top: 0.5rem;
    width: 30rem;
    margin-left: 3rem;
    font-family: monospace;
    font-weight: 600;
    color: white;
    background-color: rgb(18, 10, 129);
    border-radius: 20px;

}
#createBtn:hover,#loan2:hover,#createOrganizeBtn:hover,#employeeAdd:hover,#loanManage:hover{
    background-color: aqua;
    color: black;
}

#fname2,#lname2,#bday,#nic2,#phone,#email2,#address2,#passwordO{
    width: 40rem;
}
#oname,#regNo,#person,#position,#phoneO,#emailO,#addressO{
    width: 40rem;
}
#createForm,#createorganizationForm,#addEmployee,#physical_loan{
    border: 2px solid rgb(50, 50, 210);
    width: 100vw;
    height: 100vh;
    padding-left: 4rem;
    padding-top: 2rem;
    position: fixed;
    top: 0rem;
    font-family: monospace;
    display: none;
    background-color: rgb(203, 221, 239);
    background-size: cover;
    color: black;
    font-weight: 600;
    /* background-color: rgb(164, 190, 215); */

}
#addEmployee h1{
    margin-left: 20rem;
    margin-bottom: 2rem;
}
#physical_loan{
    padding-left: 20rem;
}
#physical_loan h1{
    margin-left: 12rem;
}
#createForm input,#createorganizationForm input,#addEmployee input{
    width: 30rem;
    margin-left: 1rem;
}
#createForm .col,#createorganizationForm .col,#addEmployee .col{
    margin-top: 1rem;
}
#physical_loan input{
    width: 40rem;
}


#next1,#createOrganizationacc,#next2,#employee_Add,#loanBtn{
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: grey;
    color: white;
    font-weight:600;
    border: 1px solid gray;
}
#next1,#next2,#employee_Add{
    position: relative;
    left: 18rem;
}
#next1:hover,#createOrganizationacc:hover,#employee_Add:hover,#loanBtn:hover,#next2:hover{
    background-color: rgb(0, 191, 191);
}
#success_create,#success_employee,#success_loan{
    width: 20rem;
    position: fixed;
    left: 35%;
    top: 0%;
    font-family: monospace;
    font-weight: 600;
    border: 1px solid black;
    padding: 1rem;
    padding-left: 3rem;
    background-color: black;
    color: white;
    font-size: small;
    display: none;
}

#create_success,#em_success{
    width: 2rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}
#createOk,#addOk,#loanOk{
    margin-left: 4rem;
    width: 4rem;
}
#branch_trans{
    width: 30rem;
    color: white;
    font-family: monospace;
    font-weight: 600;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid white;
}
#branches{
    position: relative;
    right: 2rem;
}
#findBtn{
    width: 10rem;
    margin-left: 8rem;
    margin-top: 1rem;
    color: white;
    font-weight: 600;
}
#report{
    position: relative;
    right: 2rem;
    margin-top: 1rem;
}
#managerOP{
    display: none;
}
